.BlogPageWrapper-os .ql-container.ql-snow {
    border: none;
}

.BlogPageWrapper-os .quill.border.rounded-lg {
    border: 1px solid #00000099;
    border-radius: 4px;
    overflow-y: hidden;
}

.BlogPageWrapper-os .ql-toolbar.ql-snow {
    border: none;
    border-bottom: 1px solid #00000099;
}

.BlogPageWrapper-os {
    color: #000;
}

.label-text-os {
    display: flex;
    font-size: 16px;
    line-height: 20px;
}
.BlogPageWrapper-os h2, .BlogPageWrapper-os p , h3 span , ul li span strong {
    color: #000;
}
.BlogPageWrapper-os{
    color: black;
}
.ql-editor ol li:not(.ql-direction-rtl), .ql-editor ul li:not(.ql-direction-rtl) {
    padding-left: 1.5em;
    color: black !important;
}