.data-\[hover\=true\]\:transition-colors[data-hover="true"] {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  background-color: #EDE574 !important;
  color: black !important;
}
label[data-slot="label ,trigger"] {
    color: #ffffff; 
  }

  textarea::placeholder {
    color: #ffffff; 
    opacity: 1; 
  } 
  .subpixel-antialiased{
    color: white !important;
  }

  input[type="submit"] {
    background-color: #EDE574; 
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  
  input[type="submit"]:hover {
    transform: scale(1.05);
    background-color: #E1F5C4; 
  }
  .gauav button {
    background: #ff000000;
    border: 1px solid;

}

.gauav button:hover {
  background-color: transparent;
}

.group[data-has-value="true"] .group-data-\[has-value\=true\]\:text-default-foreground {
  --tw-text-opacity: 1;
  color: white !important;
}

.gaurav-bg-trans .transition-background {


  background: transparent;
}
.subpixel-antialiased {
  color: white !important;
 
  background: black;
}

.gaurav::after {
  position: absolute;
  content: "";
  width: 80%;
  height: 4px;
  background: #EDE574;
  top: 38%;
  z-index: 1;
  left: 0;
  right: 0;
  margin: 0 auto;
}



/* @media only screen (max-width:767px) */

@media only screen and (max-width: 600px) {

.gaurav::after {
  position: absolute;
top: 25px;
}
}
/* .autofill-fix:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px black inset;
  -webkit-text-fill-color: white !important;
} */


input:-webkit-autofill {
  -webkit-text-fill-color: white; /* Autofill text color */
  -webkit-box-shadow: 0 0 0px 1000px black inset; /* Maintains black background */
  transition: background-color 5000s ease-in-out 0s; /* Prevent autofill background flash */
}
