label[data-slot="label ,trigger"] {
    color: #ffffff; 
  }

  textarea::placeholder {
    color: #ffffff; 
    opacity: 1; 
  } 
  .subpixel-antialiased{
    color: white !important;
  }

  input[type="submit"] {
    background-color: #EDE574; 
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  
  input[type="submit"]:hover {
    transform: scale(1.05);
    background-color: #E1F5C4; 
  }
  .gauav button {
    background: #ff000000;
    border: 1px solid;

}

.gauav button:hover {
  background-color: transparent;
}

.group[data-has-value="true"] .group-data-\[has-value\=true\]\:text-default-foreground {
  --tw-text-opacity: 1;
  color: white !important;
}

.gaurav-bg-trans .transition-background {


  background: transparent;
}
.subpixel-antialiased {
  color: white !important;
  background: black;
}