.about__bg__gradiant{
    background-image: url(../../../public/Images/about/bggradiant.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
th.border-bottom.px-4.py-2 { 
    background: #181818;
    text-align: left;
    color: #fff;
    font-size: 16px;
}
td.border-bottom.px-4.py-2 {
    border-bottom: 1px solid #ccc; 
    font-size: 16px;
    background: #000;

}
tr:nth-child(even) {background-color: #101010;color:#fff;}
 