
  button.active-tab[data-selected="0"] {
    background: linear-gradient(74deg, #43C6AC, #000000);
  }
  
  button.active-tab[data-selected="1"] {
    background: linear-gradient(74deg, #FF9966, #000000);
  }
  
  button.active-tab[data-selected="2"] {
    background: linear-gradient(74deg, #FFE000, #000000);
  }
  
  button.active-tab[data-selected="3"] {
    background: linear-gradient(74deg, #A044FF, #000000);
  }
  
  button.active-tab[data-selected="4"] {
    background: linear-gradient(74deg, #6DD5ED, #000000);
  }
  
  button.active-tab[data-selected="5"] {
    background: linear-gradient(74deg, #56c1c1, #000000);
  }
  

