/* [aria-selected="0"] {
    background: linear-gradient(74deg, #56c1c1, #000000);
  }
  
  [aria-selected="1"] {
    background: linear-gradient(74deg, #f35520c0, #000000);
  }
  
  [aria-selected="2"] {
    background: linear-gradient(74deg, #d5fd33a1, #000000);
  }
  
  [aria-selected="3"] {
    background: linear-gradient(74deg, #cf2362a7, #000000);
  }
  
  [aria-selected="4"] {
    background: linear-gradient(74deg, #2052e8a5, #000000);
  }
  
  [aria-selected="5"] {
    background: linear-gradient(74deg, #56c1c1, #000000);
  } */



  button.active-tab[data-selected="0"] {
    background: linear-gradient(74deg, #43C6AC, #000000);
  }
  
  button.active-tab[data-selected="1"] {
    background: linear-gradient(74deg, #FF9966, #000000);
  }
  
  button.active-tab[data-selected="2"] {
    background: linear-gradient(74deg, #FFE000, #000000);
  }
  
  button.active-tab[data-selected="3"] {
    background: linear-gradient(74deg, #A044FF, #000000);
  }
  
  button.active-tab[data-selected="4"] {
    background: linear-gradient(74deg, #6DD5ED, #000000);
  }
  
  button.active-tab[data-selected="5"] {
    background: linear-gradient(74deg, #56c1c1, #000000);
  }
  


/* 
  .radial-gradient-background-0 {
    background: radial-gradient(circle, #56c1c1, #000000);
  }
  
  .radial-gradient-background-1 {
    background: radial-gradient(circle, #f35520c0, #000000);
  }
  
  .radial-gradient-background-2 {
    background: radial-gradient(circle, #d5fd33a1, #000000);
  }
  
  .radial-gradient-background-3 {
    background: radial-gradient(circle, #cf2362a7, #000000);
  }
  
  .radial-gradient-background-4 {
    background: radial-gradient(circle, #2052e8a5, #000000);
  }
   */